
security:
    # enable_authenticator_manager: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
            algorithm: auto
            cost: 4 # Lowest possible value for bcrypt
            time_cost: 3 # Lowest possible value for argon
            memory_cost: 10 # Lowest possible value for argon


    providers:
        users:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/api/login
            stateless: true
            provider: users
            json_login:
                check_path: /api/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            provider: users
            entry_point: jwt
            jwt: ~
            # TODO: Refresh token désactivé temporairement pour éviter les erreurs
            # refresh_jwt:
            #     check_path: /api/token/refresh

    access_control:
        - { path: ^/$, roles: PUBLIC_ACCESS }
        # TODO: Refresh token désactivé temporairement pour éviter les erreurs
        # - { path: ^/api/token/refresh, roles: PUBLIC_ACCESS } 
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/doc, roles: PUBLIC_ACCESS }
        
        - { path: ^/api/user/inscription, roles: PUBLIC_ACCESS }
        - { path: ^/api/users/update-activated-status, roles: PUBLIC_ACCESS }
        - { path: ^/api/user/activated-account, roles: PUBLIC_ACCESS }
        - { path: ^/api/users/create, roles: PUBLIC_ACCESS }
        - { path: ^/api/password-reset, roles: PUBLIC_ACCESS }
        - { path: ^/api/password-reset/new, roles: PUBLIC_ACCESS }
        - { path: ^/api/configurations/liste-simple, roles: PUBLIC_ACCESS }
        - { path: ^/encrypt, roles: PUBLIC_ACCESS }
        - { path: ^/decrypt, roles: PUBLIC_ACCESS }
        - { path: ^/api/logout, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/demande/nouvelle-demande , roles: PUBLIC_ACCESS }
        - { path: ^/api/localite/liste-web , roles: PUBLIC_ACCESS }
        - { path: ^/api/articles , roles: PUBLIC_ACCESS }
        - { path: ^/api/contact , roles: PUBLIC_ACCESS }
          
          
    role_hierarchy:
        ROLE_SUPER_ADMIN: ROLE_SUPER_ADMIN
        ROLE_ADMIN: ROLE_ADMIN
        ROLE_MAIRE: ROLE_MAIRE
        ROLE_CHEF_SERVICE: ROLE_CHEF_SERVICE
        ROLE_PRESIDENT_COMMISSION: ROLE_PRESIDENT_COMMISSION
        ROLE_PERCEPTEUR: ROLE_PERCEPTEUR
        ROLE_AGENT: ROLE_AGENT
        ROLE_DEMANDEUR: ROLE_DEMANDEUR

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
