<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ sujet }}</title>
		<style>
			@media screen and(max-width: 600px) {
				.container {
					width: 100% !important;
				}
				.button {
					width: 100% !important;
				}
			}
		</style>
	</head>
	<body style="margin: 0; padding: 0; background-color: #F3F4F6; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #374151;">
		<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td style="padding: 20px 0;">
					<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" style="margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden;" class="container">
						<tr>
							<td style="background: linear-gradient(135deg, #4F46E5, #6366F1); padding: 32px 20px; text-align: center;width :70%">
								<img src="https://authenticpage.com/logo_528.png" alt="AuthenticPage Logo" style="width: 120px; height: auto; margin-bottom: 16px;">
								<h1 style="color: #ffffff; margin: 0;">{{ sujet }}</h1>
							</td>
						</tr>
						<tr>
							<td style="padding: 32px 24px; font-family: Arial, Helvetica, sans-serif;">
								<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: 24px 0; background-color: #F9FAFB; border-radius: 5px; padding: 16px; border: 1px solid #E5E7EB;">
									<tr>
										<td>

											{{ message|raw }}


										</td>
									</tr>


									<td align="center">
										<a href="https://www.authenticpage.com/registration?type=institut" target="_blank" style="display: inline-block; padding: 12px 24px; background-color: #4F46E5; color: #ffffff; text-decoration: none; font-size: 14px; font-weight: bold; border-radius: 6px;">
											Register now
										</a>
									</td>


								</table>
							</td>
						</tr>

						{% include './footer.html.twig' %}

					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
