# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    signature_directory : '%kernel.project_dir%/public/signatures'
    document_directory: '%kernel.project_dir%/public/documents'
    document_generer_directory: '%kernel.project_dir%/public/generers'
    profile_directory: '%kernel.project_dir%/public/profiles'
    images_directory: '%kernel.project_dir%/public/images'
    plan_directory: '%kernel.project_dir%/public/plans'
    key_path: '%kernel.project_dir%/config/key.txt'
    tfs_directory: '%kernel.project_dir%/public/tfs'

    app.mail_sender: 'support@kaolackcommune.sn'
    app.front_base_url: 'https://glotissement.kaolackcommune.sn'

    asset.base_url: 'https://glotissement.kaolackcommune.sn'

    app.upload.documents_dir: '%kernel.project_dir%/public/documents' 
    app.upload.tfs_dir: '%kernel.project_dir%/public/tfs' # chemin disque
    app.public.documents_prefix: '/documents'
    
    app.upload.contact_dir: '%kernel.project_dir%/public/uploads/contact'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']
    
    App\Repository\:
        resource: '../src/Repository'
        tags: ['doctrine.repository_service']

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
    
    App\EventListener\AuthenticationSuccessListener:
        tags:
            - {
                name: kernel.event_listener,
                event: lexik_jwt_authentication.on_authentication_success,
                method: onAuthenticationSuccessResponse,
                priority: 0,
            }
    
    App\services\DataConfigurationService:
        arguments:
            $configurationRepository: '@App\Repository\ConfigurationRepository'

    App\Twig\DataConfigurationExtension:
        arguments:
            $dataConfigurationService: '@App\services\DataConfigurationService'
        tags: ['twig.extension']
        
    App\services\EncryptionService:
        arguments:
            $keyPath: '%kernel.project_dir%/config/key.txt'

    App\services\DocumentGeneratorService:
        autowire: true  
        autoconfigure: true

    App\services\FonctionsService:
        autowire: true  
        autoconfigure: true

    App\services\PdfGeneratorService:
        autowire: true
        autoconfigure: true

    App\Controller\TitreFoncierController:
        arguments:
            $fileBaseUrl: '%asset.base_url%'


    App\Controller\RequestController:
        arguments:
            $fileBaseUrl: '%asset.base_url%'

    App\Controller\UserController:
        arguments:
            $fileBaseUrl: '%asset.base_url%'
        
    App\Controller\AttributionParcelleController:
        arguments:
            $fileBaseUrl: '%asset.base_url%'

    App\services\AttributionParcelleService:
        autowire: true
        autoconfigure: true

    App\services\AttributionMailer:
        arguments:
            $fromEmail: '%app.mail_sender%'
            $frontBaseUrl: '%app.front_base_url%'


    App\services\MailService:
        arguments:
            $frontendBaseUrl: '%app.front_base_url%'
            $senderEmail: '%app.mail_sender%'

    App\services\NotificationAttributionGenerator:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Controller\ContactController:
        arguments:
            $fileBaseUrl: '%asset.base_url%'
            $contactUploadDir: '%app.upload.contact_dir%'

   




