<footer style="background-color: #F9FAFB; padding: 24px; text-align: center; border-top: 1px solid #E5E7EB;">


	<p style="margin: 0; font-size: 14px; color: #6B7280;">
		<a href="{{ get_twitter() }}" style="color: #4F46E5; text-decoration: none;">Twitter</a>
		|
		<a href="{{ get_linkedin() }}" style="color: #4F46E5; text-decoration: none;">LinkedIn</a>
		|
		<a href="{{ get_instagram() }}" style="color: #4F46E5; text-decoration: none;">Instagram</a>
	</p>

	<p style="margin: 0; font-size: 14px; color: #6B7280;">
		&copy; 2024
		<a href="https://www.authenticpage.com" style="color: #4F46E5; text-decoration: none;">{{ get_name() }}</a>
		. All rights reserved.
	</p>


</footer>
